
.banner{
    background-image: url(../../img/banner/banner33.jpg);
    height: 700px; 
    background-size: cover;
}
.dark-overly{
    background: rgba(0, 0, 0, 0.5);
    height: 700px; 

}
.text-position{
    display: flex;
    margin-left: 100px;
    align-items: center;
    height: 700px;
}
.title-font{
    font-size: 100px;
    color:cadetblue;
}


@media only screen and (max-width: 425px) {
    .banner{
        height: 300px; 
        background-size: cover;
    }
    .dark-overly{
        height: 300px;
    }
    .text-position{
      
        height: 300px;
    }
    .title-font{
        font-size: 30px;
    }
    .title-des{
        display: none;
    }
}
